body {
    background-color: rgb(200, 230, 255);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



.Foto_Perfil {
    width: 230px;
}

h3 {
    color: green;
}

.Nome_Perfil {
    color: green;
}