body {
    background-color: rgb(200, 230, 255);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



.Foto_Perfil {
    width: 230px;
    border-width: 10px;
    border: 5px #ffffff solid;
    border-radius: 50%;
    margin: auto calc(50% - 83px);
}

h3 {
    color: green;
}

.Nome_Perfil {
    color: green;
}